<div class="ui-score">
    <div class="gme-ui-score__counter">0</div>
    <div class="ui-score__unit">pts</div>
</div>
<div class="gme-ui-messages">
    <h1 class="gme-ui-messages__title gme-title"></h1>
    <p class="gme-ui-messages__text"></p>
</div>
{{#if controls}}
    <div class="gme-ui-dpad">
        <div class="gme-ui-dpad__position"></div>
    </div>
    <div class="gme-ui-buttons">
        <button class="gme-ui-buttons__layer"></button>
        <button class="gme-ui-buttons__fire"></button>
    </div>
{{/if}}
