<header class="header">
    <h1 class="title title--main">Space Shooter</h1>
</header>
<section class="button-list">
    <button id="btnStart" class="button">Start game</button>
    <button id="btnHighScores" class="button">High scores</button>
</section>
